table{
    margin: auto;
    margin-top: 5%;
    margin-bottom: auto;
    max-width:fit-content;
    text-align: center;
    border-spacing:5px;
}
caption{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
th{
    background-color: rgb(157, 161, 165);
    border-radius: 10px;
    padding:10px;

}
td{
    padding:10px;
    border-radius: 10px;
    background-color: black;
    color:white;
    align-content: start;
}
#topicHead, #startDateHead, #timeSpentHead, #percentHead{
    cursor: pointer;
}

